<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
</head>
<body>
  <h1>Contactez-nous</h1>

  <form action="/addavatar" method="POST" enctype="multipart/form-data">
    <label for="file">Fichier</label>
    <input type="file" name="file">
    <button type="submit">Enregistrer</button>
  </form>

</body>
</html>