<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
<div>
    <h1>Bienvenue sur notre MVC</h1>
    <p>Accéder au formulaire de contact : <a href="/contact">Contact</a></p>
    <p>Envoyer un mail : <a href="/email">Email</a> </p>
</div>
</body>
</html>